* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(189, 182, 182);
    font-size: 20px;
}

img {
    max-width: 100%;
}

.row {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: black;
    color: white;
    padding: 2px 0;
    width: 100%;
    overflow: hidden;
}

nav .col-logo {
    display: flex;
}

nav .col-logo img {
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
}

nav .col-logo img:hover {
    width: 200px;
    height: 200px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 0 10px;
    flex: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: gray;
    border-radius: 5px;
}

nav .carrito {
    margin-left: auto;
}

nav .carrito a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

nav .carrito a i {
    height: 20px;
    margin-right: 5px;
}

nav .carrito a span {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.menu-icon {
    display: none; 
    font-size: 30px; 
    padding: 14px 16px; 
    cursor: pointer; 
    color: white; 
}

#menu-toggle {
    display: none;
}

.carrusel {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.slider {
    width: 80%;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 12);
}

.slider .slide {
    width: 200px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translate(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translate(calc(-200px * 12));
        transform: translateX(calc(-200px * 12));
    }
}

.btn {
    display: inline-block;
    background: rgb(85, 84, 84);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
}

.btn:hover {
    background: gray;
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 5em 0;
}

.banner-content {
    width: 90%;
    margin: 0 auto;
}

.banner-content h1 {
    margin: 10px 0;
    font-size: 40px;
}

.productos-destacados {
    padding: 20px 0;
    text-align: center;
}

.productos-destacados h2 {
    margin-bottom: 20px;
}

.producto {
    display: inline-block;
    width: 300px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.producto .btn {
    background-color: rgb(6, 148, 6);
}

.producto .btn:hover {
    background-color: green;
}

.testimonios {
    padding: 30px 0;
    text-align: center;
}

.testimonios h2 {
    margin: 20px 0;
}

.testimonial {
    width: 50%;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.categorias {
    padding: 30px 0;
    text-align: center;
}

.categoria {
    display: block;
    margin: 10px auto;
    width: 50%;
}

.categoria a {
    color: black;
    text-decoration: none;
}

.categoria a:hover {
    text-decoration: underline;
}

.contactanos {
    padding: 3em 0;
    text-align: center;
}

.contactanos h2 {
    margin: 20px 0;
}

.cart {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px auto;
    width: 80%;
}

.cart h2 {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 10px;
}

.cart-items {
    list-style-type: none;
    margin-top: 20px;
    padding: 0 70px;
}

.cart-item {
    display: flex;
    display: inline-block;
    max-width: 200px;
    margin: 0 10px 20px 10px;
}

.cart-item img {
    margin-right: 20px;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
    text-align: center;
}

.item-details a {
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.item-details p {
    margin: 5px 0;
}

.remove-item {
    background-color: rgb(223, 24, 24);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-item:hover {
    background-color: rgb(255, 70, 70);
}

.cart-resumen {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.checkout-button {
    background-color: rgb(6, 148, 6);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}

.checkout-button:hover {
    background-color: green;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria h2 {
    text-align: center;
    margin: 20px auto 10px auto;
    border-bottom: 1px solid gray;
    width: 80%;
    font-size: 30px;
}

.galeria h3 {
    text-align: center;
    margin: 10px auto;
    width: 80%;
}

.artwork {
    width: 300px;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.artwork img {
    height: auto;
    border-radius: 5px;
}

.artwork-info {
    text-align: center;
    margin-top: 10px;
}

.artwork-info h3 {
    font-size: 1.5rem;
}

.artwork-info p {
    margin: 5px 0;
}

.artwork-info button {
    background-color: rgb(6, 148, 6);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
}

.artwork-info button:hover {
    background-color: green;
}

.contacto .btn {
    display: inline-block;
    background: rgb(85, 84, 84);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto .btn:hover {
    background: gray;
}

.contacto {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    padding: 20px 0;
}

.contacto h2 {
    margin-bottom: 20px;
}

.contacto p {
    margin-bottom: 20px;
}

.contacto-formulario {
    width: 400px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 20px;
    text-align: left;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input, .form-control textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    font-size: 20px;
}

.form-control textarea {
    resize: vertical;
}

.contacto-info {
    text-align: center;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
}

.contacto-info p {
    margin-bottom: 10px;
}

.obra {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    margin: 20px auto;
}

.obra-image {
    flex: 1;
    margin-right: 20px;
}

.obra-image img {
    height: auto;
    border-radius: 5px;
}

.obra-info {
    flex: 2;
}

.obra-info h2 {
    margin-top: 0;
}

.obra-info p {
    margin: 10px 0;
}

button {
    background-color: rgb(6, 148, 6);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: green;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .legal {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

footer .legal:hover {
    text-decoration: underline;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 30px;
}

@media screen and (max-width: 760px) {

    body {
        font-size: medium;
    }

    .menu-items {
        flex-direction: column; 
        display: none; 
    }

    nav ul li a{
        display: block;
    }

    .menu-icon {
        display: block; 
    }

    #menu-toggle:checked + .menu-icon + .menu-items {
        display: flex; 
    }

    .col-logo img {
        display: none;
    }

    .cart-item {
        flex-direction: column;
        max-width: 600px;
    }

    .cart-item img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .item-details {
        text-align: center;
    }

    .remove-item {
        margin-top: 10px;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .artwork {
        width: 250px;
    }

    .producto {
        width: 250px;
    }

    .contacto-formulario {
        width: 50%;
    }

    .contacto .btn {
        padding: 10px 10px;
    }

    .obra {
        flex-direction: column;
    }

    .contacto p {
        margin-left: 10px;
        margin-right: 10px;
    }

}